<!DOCTYPE html>
<html>
    <head>
        <title>Ninja Studio - Artists</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fevicon -->
        <link rel="icon" href="../Static/fevicon/fevicon.PNG" type="image/x-icon"/>
        <!-- fontawesome stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- external stylesheet -->
        <link rel="stylesheet" type="text/css" href="../styles/artist.css">
    </head>
    <body>

        <!-- ####################-------nav-bar--------######################-->
        <nav id="nav-bar">
            <div id="nav-left">
                <!-- menu button for media -->
                <div id="menu-button" class="center-down">
                    <input id="check-menu" type="checkbox" name="">
                    <label for="check-menu"><i class="fa fa-bars" aria-hidden="true"></i></label>

                    <!-- menu button items -->
                    <div id="menu-button-items">
                        <!-- menu button items logo -->
                        <div id="logo" class="add-margin">
                            <a href="../index.html">
                                <i class="fa fa-music" aria-hidden="true"></i>
                                <div id="logo-title">
                                    <p id="ninja-p">Ninja</p>
                                    <p id="studio-p">Studio</p> 
                                </div>
                            </a>
                        </div>
                        <!-- menu button items favourites -->
                        <div id="nav-favourites" class="center-down add-margin">
                            <a href="#">
                                <p>Favourites</p>
                            </a>
                        </div>
                        <!--  menu button items bell-icon -->
                        <div id="nav-bell-icon" class="center-down add-margin">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                        </div>
                        <!--  menu button items search -->
                        <div id="search-media" class="add-margin">
                            <input type="text" name="" placeholder="Search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            
                        </div>
                    </div>
                </div>
                
                <!-- logo -->
                <div id="logo" class="hide">
                    <a href="../index.html">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <div id="logo-title">
                            <p id="ninja-p">Ninja</p>
                            <p id="studio-p">Studio</p> 
                        </div>
                    </a>
                </div>
                <!-- favourites -->
                <div id="nav-favourites" class="center-down hide">
                    <a href="#">
                        <p>Favourites</p>
                    </a>
                </div>
            </div>
            <div id="nav-right">
                <!-- search -->
                <div id="nav-search" class="center-down hide">
                    <div id="search-elements" >		
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" name="" placeholder="Search">
                    </div>
                </div>
                <!-- bell-icon -->
                <div id="nav-bell-icon" class="center-down hide bell-ring">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </div>
                <!-- profile pic -->
                <div id="profile-photo" class="center-down">
                    <div>
                        
                    </div>
                </div>
            </div>
        </nav>

        <!-- ####################-------main--------######################-->
        <main>
            <!-- image and text and tabs-->
            <section id="main-content" class="section-margins section-width">
                <div class="main-img">
                    <div class="main-img-content">
                        <p class="top-head">
                            <span class="main-artist">Artist</span>
                            <span class="total-followers">1M Followers</span>
                        </p>
                        <p class="main-music">Music</p><br>
                        <p class="main-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <br>
                        <div class="butNfollow">
                            <div class="but">
                                <button>Play All</button>
                                <p>247 Tracks | 128 Albums</p>
                            </div>
                            <p class="follow">Follow</p>
                        </div>
                    </div>
                </div>

                <!-- tabs -->
                <div class="main-tabs">
                    <div class="main-tabs-container">
                        <!-- list -->
                        <ol>
                            <!-- tab1 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img1"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab2 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img2"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab3 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img3"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab4 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img4"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab5 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img5"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab6 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img6"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab7 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img7"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>

                            <!-- tab8 -->
                            <div class="m-tab">
                                <li class="m-list centralize-tab">
                                    <div class="m-img" id="m-img8"></div>
                                    <div class="m-title">
                                        <p class="m-name">Imagine Dragons</p>
                                        <p class="m-band">Pop Band</p>
                                    </div>
                                    <div class="m-icons">
                                        <i class="far fa-heart heart-hollow"></i>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </div>
                        </ol>
                    </div>
                </div>
            </section>

            <!-- Recently Played -->
            <section id="recently-played" class="section-margins section-width">
                <div id="leh-container">
                    <!-- headings -->
                    <header class="section-heading">
                       <h1>Recently Played</h1>
                   </header>
                   <!-- content -->
                   <div class="leh-tabs">
                       <!-- tab1 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img1">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                       <!-- tab2 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img2">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                       <!-- tab3 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img3">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                       <!-- tab4 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img4">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                       <!-- tab5 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img5">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                       <!-- tab6 -->
                       <div class="leh-tab-container">
                           <div class="leh-img" id="leh-img6">
                               <i class="fa fa-play-circle" aria-hidden="true"></i>
                           </div>
                           <div class="leh-p">
                               <p class="leh-name">Onism</p>
                               <p class="leh-date">Aug 11, 2020</p>
                           </div>
                       </div>
                   </div>
               </div>
            </section>
        </main>

         <!-- ####################-------aisde--------######################-->
         <aside>
            <section id="aside-container">
                <!-- heading -->
                <header id="aside-heading">
                    <select>
                        <option>My Playlist</option>
                        <option>Favourites</option>
                        <option>Queue</option>
                    </select>
                </header>

                <!-- content -->
                <div id="aside-content">
                    <!-- tabs -->

                    <!-- tab1 -->
                    <div class="as-tab-container">
                        <div class="as-img" id="as-img1">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab1">
                                <label for="as-tab1" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- tab2 -->
                    <div class="as-tab-container">
                        <div class="as-img" id="as-img2">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab2">
                                <label for="as-tab2" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                     <!-- tab3 -->
                     <div class="as-tab-container">
                        <div class="as-img" id="as-img3">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab3">
                                <label for="as-tab3" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                     <!-- tab4 -->
                     <div class="as-tab-container">
                        <div class="as-img" id="as-img4">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab4">
                                <label for="as-tab4" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                     <!-- tab5 -->
                     <div class="as-tab-container">
                        <div class="as-img" id="as-img5">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab5">
                                <label for="as-tab5" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                     <!-- tab6 -->
                     <div class="as-tab-container">
                        <div class="as-img" id="as-img6">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab6">
                                <label for="as-tab6" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- tab7 -->
                    <div class="as-tab-container">
                        <div class="as-img" id="as-img7">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab7">
                                <label for="as-tab7" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- tab8 -->
                    <div class="as-tab-container">
                        <div class="as-img" id="as-img8">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="as-title">
                            <p class="as-name">Mirage</p>
                            <p class="as-sub-name">Else</p>
                            <div class="fav-hearts">
                                <input type="checkbox" id="as-tab8">
                                <label for="as-tab8" class="heart-icons" title="Add To Favourites">
                                    <i class="far fa-heart heart-hollow"></i>
								    <i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </aside>

        <!-- ####################-------footer--------######################-->
        <footer>
            <div class="audio-title">
                <div class="audio-img">
    
                </div>
                <div class="audio-names">
                    <marquee direction="left" scrollamount="4">Can We Kiss Forever</marquee>
                    <p>Kina ft. Adriana Proenza</p>
                </div>
                <div class="audio-hearts">
                    <input type="checkbox" id="music">
                    <label for="music" class="heart-icons"> 
                        <i class="far fa-heart heart-hollow"></i>
						<i class="fas fa-heart heart-solid" title="Add To Favourites"></i>
                    </label>
                </div>
            </div>
            <div class="audio-container centralize-tab">
                <audio class="audio-player" controls>
                    <source src="../Static/Audio/Kina - Can We Kiss Forever ft. Adriana Proenza.mp3">
                </audio>
            </div>
        </footer>
    </body>
</html>